:root {
    --bg-dark: #0f1020;
    --bg-darker: #0a0a15;
    --text-primary: #237db4;
    --text-secondary: #00ff99;
    --accent-color: #ff00ff;
    --border-color: #1a1a3a;
}
body {
    font-family: Arial, sans-serif;
    background: url('./assets/wallpaper.jpg') no-repeat center center fixed  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    font-family: 'Orbitron', sans-serif;
            font-size: 2.5rem;
            
            color: var(--text-primary);
            text-transform: uppercase;
            letter-spacing: 3px;
            text-shadow: 0 0 10px rgb(28, 91, 91);
            
}
.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

form input {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.game-phase, .game-result {
    margin-top: 20px;
}